* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --title: #000;
  --background-color: #f1f1f1;
  --login-background: #fff;
  --border-color: #353535;
  --red: #ff3d3d;
  --input-background: #fff;
  --base-color: #a23eff;
  --shadow: 0, 0, 0;
}

:root.dark {
  --title: #fff;
  --background-color: #222222;
  --login-background: #181a1b;
  --border-color: #a0a0a0;
  --red: #ff3d3d;
  --input-background: #181a1b;
  --base-color: #a23eff;
  --shadow: 255, 255, 255;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

body {
  background: var(--background-color);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: color 0.3s;
}

#top {
  width: 100%;
  position: fixed;
  top: 1rem;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;
}

#top .social a {
  text-decoration: none;
}

#top .social i {
  font-size: 2.5rem;
  margin-right: 1rem;
  color: var(--title);
  transition: 0.3s;
}

#top .social i:hover {
  transform: translateY(-0.5rem);
}

#dark-mode-button {
  cursor: pointer;

  background: var(--login-background);
  color: var(--title);

  -webkit-box-shadow: 0px 0px 10px 1px rgba(var(--shadow), 0.49);
  -moz-box-shadow: 0px 0px 10px 1px rgba(var(--shadow), 0.49);
  box-shadow: 0px 0px 10px 1px rgba(var(--shadow), 0.49);

  font-size: 1.8rem;
  line-height: 0;

  padding: 0.8rem;
  border-radius: 50%;

  border: none;
  outline: none;

  transition: color 0.3s;
}

.container {
  height: 27rem;
  width: 25rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  padding: 1rem;
  background: var(--login-background);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  transition: color 0.3s;
}

.wrapper h1 {
  font-family: 'Poppins';
  font-weight: 700;
  color: var(--title);
  margin: 1.7rem 0;
  transition: color 0.3s;
}

.error {
  background: var(--red);
  color: #fff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-content: center;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0rem;
  text-align: center;
  visibility: hidden;
  opacity: 0;
  transition: 0.3s;
}

.error.show {
  visibility: visible;
  opacity: 1;
  width: 100%;
  padding: 0.6rem 0.5rem;
  font-size: 0.8rem;
  margin-bottom: 1.5rem;
}

form {
  width: 80%;
}

.container form input[type='checkbox'] {
  width: auto;
  margin-right: 0.5rem;
  margin-bottom: 0;
  cursor: pointer;
}

.container form label {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.9rem;
  color: var(--title);
  cursor: pointer;
  transition: color 0.3s;
}

.show-password-area {
  width: 100%;
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.container form input {
  color: var(--title);
  background-color: var(--input-background);
  transition: color 0.3s;
}

.container form input,
.container form button {
  outline: none;
  width: 100%;
  border-radius: 5px;
  padding: 0.5rem 1rem;
}

input#name {
  margin-bottom: 1.5rem;
}

input#email {
  margin-bottom: 1.5rem;
}

input#password {
  margin-bottom: 0.5rem;
}

.container form input {
  font-family: 'Open Sans', sans-serif;
  transition: 0.3s;
  border: var(--border-color) 1px solid;
  transition: color 0.3s;
}

.container form input:focus {
  border-color: var(--base-color);
  transition: color 0.3s;
}

.container form button {
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  color: var(--login-background);
  background: var(--base-color);
  color: #fff;
  cursor: pointer;
  border: none;
  margin-bottom: 0.5rem;
  transition: 0.3s;
}

.container form button:hover {
  filter: brightness(1.1);
}

.register {
  display: flex;
  margin-bottom: 1.7rem;
}

.register a {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 0.8rem;
  color: var(--base-color);
  text-decoration: none;
  transition: color 0.3s;
}

.register a:hover {
  text-decoration: underline;
}

.register p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 0.8rem;
  color: var(--border-color);
  margin-right: 0.2rem;
  transition: color 0.3s;
}
